
services:
  zookeeper:
    image: wurstmeister/zookeeper
    container_name: smarthome-zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    container_name: smarthome-kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092        
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "bash", "-c", "kafka-topics.sh --bootstrap-server kafka:9092 --list || exit 1"]
      interval: 10s
      retries: 10
      timeout: 5s
      start_period: 10s
    depends_on:
      - zookeeper


  postgres:
    image: postgres:16-alpine
    container_name: smarthome-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./smart_home/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - smarthome-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s

  temperature-api:
    build:
      context: ./temperature-api
      dockerfile: Dockerfile
    container_name: smarthome-temperature-api
    environment:
      - TEMP_API_PORT=${TEMP_API_PORT:-8081}
    ports:
      - "${TEMP_API_PORT:-8081}:${TEMP_API_PORT:-8081}"
    networks:
      - smarthome-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:${TEMP_API_PORT:-8081}/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  app:
    build:
      context: ./smart_home
      dockerfile: Dockerfile
    container_name: smarthome-app
    depends_on:
      postgres:
        condition: service_healthy
      temperature-api:
        condition: service_started
    environment:
      - DATABASE_URL=postgres://postgres:${POSTGRES_PASSWORD}@smarthome-postgres:5432/smarthome
      - TEMPERATURE_API_URL=${TEMPERATURE_API_URL}
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - smarthome-network
  
  telemetry-service:
    build:
      context: ./telemetry_service
      dockerfile: Dockerfile
    container_name: smarthome-telemetry-service
    environment:
      - KAFKA_BROKER=kafka:9092
    ports:
      - "8082:8080"
    depends_on:
      kafka:
        condition: service_healthy

  device-service:
    build:
      context: ./device_service
      dockerfile: Dockerfile
    container_name: smarthome-device-service
    environment:
      - KAFKA_BROKER=kafka:9092
    ports:
      - "8083:8080"
    depends_on:
      kafka:
        condition: service_healthy

  # UI для kaffka
  akhq:
    image: tchiotludo/akhq:latest
    container_name: akhq
    ports:
      - "8090:8080"
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            local:
              properties:
                bootstrap.servers: kafka:9092
    depends_on:
      kafka:
        condition: service_healthy

volumes:
  postgres_data:

networks:
  smarthome-network:
    driver: bridge